#bigimage {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("Photos/marc-schulte-n5qzgURyBEI-unsplash.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 85%;
    margin: 0 5%;
}