* {
    font-family: sans-serif;
}


.index {
    text-align: center;
    width: 100%;
}

.index td {
    width: 30%;

}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#bigimage {
    height: 800px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("Photos/marc-schulte-n5qzgURyBEI-unsplash.jpg");
    background-size: cover;
    background-position: bottom;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#bigimagediv {
    padding-top: 200px;
}

h3 {
    font-size: 24px;
    color: white;
    text-align: center;
}

.container {
    background-color: green;
    position: sticky;
    top: 60px;
}

.container-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    width: 60%;
    height: 50px;
    margin: auto;
    align-items: center;

}

.container a {

    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    width: 100%;
    font-weight: 100;
    font-size: 40px;
    line-height: 20px;
    margin: 0;
    padding: 20px;
    background-color: lightgreen;
    font-family: 'Roboto', sans-serif;
    position: sticky;
    top: 0;

}

h2 {
    text-align: center;
    width: 100%;
    font-size: 30px;
    line-height: 20px;
    margin: 0;
    padding: 20px;
    background-color: lightgreen;
    font-family: 'Roboto', sans-serif;
    position: sticky;
    top: 0;
}

#donatebutton {
    background-color: lightblue;
}

.but {
    background-color: #A68A64;
    text-align: center;
    width: 100px;
    height: 40px;
    margin-bottom: 50px;
}

.button_class {
    text-align: left;
}

.paragraph {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    width: 60%;
    margin: auto;
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}


/* pseudo class options active, visited*/
.but:hover {
    background-color: #bca27d
}

.title {
    font-size: 20px;
    font-family: Helvetica;
    width: 60%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;

}

table {
    width: 100%;
}

table p {
    font-family: Helvetica;
    font-size: 24px;
    text-align: center;




}

p {
    letter-spacing: 1px;
    font-size: 24px;
}

.donate {
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.donate_table td {
    padding: 0;
    text-align: center;
    width: auto;
}

img {
    width: 60%;
    height: 400px;
    object-fit: cover;
    text-align: center;

}

td {
    width: 50%;
}

/*A4AC86, 656D4A, 414833, B6AD90, 7F4F24, 582F0E, 936639, A68A64*/
.page_tables td {
    width: 50%;
    text-align: center;
    vertical-align: top;
    line-height: 1.5;



}

.tablet img {
    width: 30%;
    height: 30%;
}

/*
media query
*/
@media (max-width:1000px) {
    .desktop {
        display: none;

    }

    .tablet {
        display: inline-block;

    }

}

@media (min-width:1000px) {
    .tablet {
        display: none;

    }

    .desktop {
        display: inline-block;
    }
}