* {
    font-family: 'Roboto', sans-serif;
}


.index {
    text-align: center;
    width: 100%;
}

.index td {
    width: 30%;

}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#bigimage {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;

}

#bigimagediv {
    padding-top: 60px;
}

#bigimagebutton:hover {
    background-color: rgb(197, 255, 197);
}

#bigimagebutton {
    background-color: lightgreen;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 48px;
    width: 10%;
    color: black;
    border-color: black;
    border-radius: 10px;

}

#count p {
    font-size: 18px;
    margin: 42px;
}

#bigimagetext {
    font-size: 18px;
    margin: 42px;
}

h3 {
    font-size: 64px;
    line-height: 64px;
    color: white;
    text-align: center;
    margin: 42px;
    letter-spacing: 3px;

}

.container {
    background-color: green;
    position: sticky;
    top: 0px;
    display: inline-block;
    z-index: 5;
}

.container-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    margin: auto;
    align-items: center;
    text-align: center;
    padding: 0;

}

.calculator-input {
    width: 90%;
    height: 24px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 24px;
    display: block;
    background-color: rgb(245, 245, 245);
    border: 2px outset rgb(37, 37, 37);
    box-shadow: 0px 2px 2px #ddd;
}

.values {
    margin: 0px;
    font-size: 22px;
    margin-left: 5px;
}



#calculatorform {
    background-color: white;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 12px;
    border-radius: 12px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

body {
    background-color: rgb(216, 251, 221);
}

#contactform {
    background-color: white;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 12px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    ;
}

.contactp {
    margin: 0;
    font-size: 16px;
    margin-left: 5%;
    margin-bottom: 4px;
    line-height: 24px;
}

.contactinput {
    margin: auto;
    display: block;
    margin-top: 0;
    margin-bottom: 24px;
    width: 90%;
    height: 24px;

    background-color: rgb(245, 245, 245);
    border: 2px outset rgb(37, 37, 37);
    box-shadow: 0px 2px 2px #ddd;

}

#btn {
    width: 30%;
    font-size: 18px;
    background: lightgreen;
    border-radius: 4px;
    margin: auto;
    display: block;

}

#inputdiv {
    padding-bottom: 12px;
}

h4 {
    font-size: 18px;
    text-align: center;
    line-height: 48px;
    border-style: hidden;
    border-color: black;
    font-weight: normal;
}

#calculator-submit {
    padding-bottom: 12px;
}


#calculator-submit input {
    width: 20%;
    font-size: 18px;
    background: lightgreen;
    font-weight: normal;
    border-radius: 8px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: auto;
    display: block;
    color: black;
}

#top {
    font-size: 24px;
    margin: 12px;
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
}

#subtop {
    font-size: 16px;
    color: grey;
    margin: 14px;
    text-align: center;
}

.calculator-p {

    margin: 0;
    font-size: 16px;
    margin-left: 5%;
    margin-bottom: 4px;
}



.desktop li {
    padding: 15.5px;
}

.check {
    width: 18px;
    height: 18px;
    margin: 0px;
    margin-left: 5px;
}

.tablet a {
    padding: 7%;
}

.tablet {
    max-height: 100%;
}

.highlighted {
    text-decoration: underline;
}

.container-items a {
    display: inline-block;


}

.container a {
    color: white;
}

.no-underline {

    text-decoration: none;

}

.header {
    text-align: center;
    width: 100%;
    font-weight: 100;
    font-size: 24px;
    line-height: 20px;
    margin: 0;
    padding: 20px;
    background-color: lightgreen;
    font-family: 'Roboto', sans-serif;
    top: 0;
}


.but {
    background-color: #A68A64;
    text-align: center;
    width: 100px;
    height: 40px;
    margin-bottom: 50px;
    color: black;
    font-size: 16px;
    border-radius: 5px;
}

.button_class {
    text-align: left;
}

.paragraph {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    width: 60%;
    margin: auto;
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}


/* pseudo class options active, visited*/
.but:hover {
    background-color: #bca27d
}

.title {
    font-size: 12px;
    font-family: Helvetica;
    width: 60%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;

}

table {
    width: 100%;
}

table p {
    font-family: Helvetica;
    font-size: 24px;
    text-align: center;
}



p {
    letter-spacing: 0.25px;
    font-size: 24px;
}

.donate {
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.donate_container a {
    color: white;
}

.donate_container {
    position: relative;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.donate_container * {
    box-sizing: border-box;
    transition: all 0.45s ease;
}

.donate_container::before,
.donate_container::after {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    transform: scaleY(1);
}

.donate_container img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
}

.donate_container figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    transition-delay: 0.1s;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 12px;
}

.donate_container:hover::before,
.donate_container:hover::after {
    transform: scale(1);
    opacity: 1;
}


.donate_container:hover .centered {
    color: transparent;
}

.donate_container:hover>img {
    opacity: 0.7;
}

.donate_container:hover figcaption {
    opacity: 1;
}

.donate_container img {

    filter: brightness(50%);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#topdonate {
    font-size: 36px;
    color: black;
    text-align: center;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 12px;
}

.donate_table td {
    padding: 0;
    text-align: center;
    width: 30%;
}

.donate_table {
    z-index: 1;
}

.webimg {
    width: 60%;
    height: 400px;
    object-fit: cover;
    text-align: center;
}

td {
    width: 50%;
}

/*A4AC86, 656D4A, 414833, B6AD90, 7F4F24, 582F0E, 936639, A68A64*/
.page_tables td {
    width: 50%;
    text-align: center;
    vertical-align: top;
    line-height: 1.5;



}

.tablet img {
    width: 25%;
    height: auto;
    /*height: 30%;*/
}

/*
media query
*/
@media (max-width:5000px) {
    .desktop {
        display: none;

    }

    .tablet {
        display: inline-block;
        width: 100%;
    }

}

@media (max-width: 800px) {
    #bigimageh3 {
        font-size: 30px;
        line-height: 1em;
    }

    #bigimagebutton {
        width: fit-content;
    }
}

@media (min-width:800px) {
    .tablet {
        display: none;

    }


    .desktop {
        display: inline-block;
        width: 100%;
    }
}

.credentials {
    color: black;
    text-decoration: none;
}

footer {
    text-align: center;
}