* {
    font-family: 'Roboto', sans-serif;
}


.index {
    text-align: center;
    width: 100%;
}

.index td {
    width: 30%;

}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#bigimage {
    height: 800px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("Photos/marc-schulte-n5qzgURyBEI-unsplash.jpg");
    background-size: cover;
    background-position: bottom;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#bigimagediv {
    padding-top: 60px;
}

#bigimagebutton:hover {
    background-color: #cfcfcf
}

#bigimagebutton {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 48px;
    width: 100px;

}

#count p {
    font-size: 18px;
    margin: 42px;
}

#bigimagetext {
    font-size: 18px;
    margin: 42px;
}

h3 {
    font-size: 64px;
    line-height: 64px;
    color: white;
    text-align: center;
    margin: 42px;
    letter-spacing: 3px;

}

.container {
    background-color: green;
    position: sticky;
    top: 0px;
    display: inline-block;
}

.container-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    margin: auto;
    align-items: center;
    text-align: center;
    padding: 0;

}

.calculator-input {
    margin-top: 0;
    margin-bottom: 24px;
    width: 50%;
    height: 24px;
}

.calculator-p {
    margin: 0;
    font-size: 18px;
}

form {
    margin: 5%;
}

.desktop li {
    padding: 15.5px;
}

.check {
    width: 18px;
    height: 18px;
    margin: 0px;
    padding-top: 2px;
}

.tablet a {
    padding: 7%;
}

.tablet {
    max-height: 100%;
}

.highlighted {
    background-color: rgb(62, 188, 62);
}

.container-items a {
    display: inline-block;


}

.container a {

    text-decoration: none;
    color: white;
}

.header {
    text-align: center;
    width: 100%;
    font-weight: 100;
    font-size: 24px;
    line-height: 20px;
    margin: 0;
    padding: 20px;
    background-color: lightgreen;
    font-family: 'Roboto', sans-serif;
    top: 0;
}


#donatebutton {
    background-color: lightblue;
}

.but {
    background-color: #A68A64;
    text-align: center;
    width: 100px;
    height: 40px;
    margin-bottom: 50px;
}

.button_class {
    text-align: left;
}

.paragraph {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    width: 60%;
    margin: auto;
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}


/* pseudo class options active, visited*/
.but:hover {
    background-color: #bca27d
}

.title {
    font-size: 12px;
    font-family: Helvetica;
    width: 60%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;

}

table {
    width: 100%;
}

table p {
    font-family: Helvetica;
    font-size: 24px;
    text-align: center;




}

p {
    letter-spacing: 0.25px;
    font-size: 24px;
}

.donate {
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.donate_table td {
    padding: 0;
    text-align: center;
    width: auto;
}

.webimg {
    width: 60%;
    height: 400px;
    object-fit: cover;
    text-align: center;

}

td {
    width: 50%;
}

/*A4AC86, 656D4A, 414833, B6AD90, 7F4F24, 582F0E, 936639, A68A64*/
.page_tables td {
    width: 50%;
    text-align: center;
    vertical-align: top;
    line-height: 1.5;



}

.tablet img {
    width: 25%;
    height: auto;
    /*height: 30%;*/
}

/*
media query
*/
@media (max-width:5000px) {
    .desktop {
        display: none;

    }

    .tablet {
        display: inline-block;
        width: 100%;
    }

}

@media (min-width:1000px) {
    .tablet {
        display: none;

    }

    .desktop {
        display: inline-block;
        width: 100%;
    }
}

.credentials {
    color: black;
    text-decoration: none;
}

footer {
    text-align: center;
}